.about,
.about * {
  box-sizing: border-box;
}
.about {
  background: #2b0f0f;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.hajer-khamees {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 77px;
  top: 56px;
  width: 220px;
  height: 29px;
}
.home {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1116px;
  top: 69px;
  width: 77px;
  height: 36px;
}
.about2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1193px;
  top: 68px;
  width: 112px;
  height: 34px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1272px;
  top: 68px;
  width: 114px;
  height: 39px;
}
.hajer-khamees-university-of-maryland-fall-2025 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 864px;
  width: 618px;
  height: 50px;
}
.frame-1 {
  display: flex;
  flex-direction: column;
  gap: 39px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1074px;
  position: absolute;
  left: 77px;
  top: 206px;
}
.budt-748-industry-practicum {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  height: 77px;
}
.budt-748-is-the-capstone-course-for-information-systems-is-majors-students-gain-hands-on-experience-by-collaborating-with-real-clients-to-analyze-requirements-design-solutions-and-develop-functional-projects-the-course-emphasizes-teamwork-project-management-and-applying-both-technical-and-business-skills-to-solve-real-world-challenges-by-the-end-of-the-semester-students-present-their-deliverables-to-clients-and-faculty-demonstrating-their-ability-to-manage-the-full-project-lifecycle {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 187px;
}
.professor-paul-t-shapiro {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 38px;
}
.professor-paul-t-shapiro-span {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
.professor-paul-t-shapiro-span2 {
  font-family: "Montserrat-Regular", sans-serif;
}
.teaching-assistants-abhi-gupta-samiha-meah-zam-mozumder {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 38px;
}
.teaching-assistants-abhi-gupta-samiha-meah-zam-mozumder-span {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
.teaching-assistants-abhi-gupta-samiha-meah-zam-mozumder-span2 {
  font-family: "Montserrat-Regular", sans-serif;
}
.semester-details-fall-2025 {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 41px;
}
.semester-details-fall-2025-span {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
.semester-details-fall-2025-span2 {
  font-family: "Montserrat-Regular", sans-serif;
}
